.header {
  background-image: url(../images/header-background.jpg);
  height: 100vh;
  width: 100vw;
  background-size: cover;
  margin-bottom: 6rem;

  &__text {
    position: absolute;
    font-weight: 300;

    &-top {
      top: 30vh;
      left: 7rem;
      font-size: 11rem;
      color: $white;
    }

    &-bottom {
      font-size: 19rem;
      color: $pink;
      bottom: -2rem;
      right: 20rem;

      @include breakpoint-sm {
        font-size: 13rem;
        bottom: 12rem;
      }
    }
  }
}
